/*Displays header text with shadow flame styling*/
#mainHeader1 {
    font-family: "Open Sans", "Sans Serif";
    text-shadow: 0px 0px 5px #FFFF00, 0px -5px 5px #FF0000;
    text-align: center;
}
/*Centers the labelsDiv to the webpage center*/
#labelsDiv {
    text-align: center;
}
/*Styles randomNumber1 label*/
#randomNumber1 {
    font-family: "Open Sans", "Sans Serif";
    font-size: 30px;
    font-weight: bold;
}
/*Styles randomNumber2 label*/
#randomNumber2 {
    font-family: "Open Sans", "Sans Serif";
    font-size: 30px;
    font-weight: bold;
}
/*Styles randomNumber3 label*/
#randomNumber3 {
    font-family: "Open Sans", "Sans Serif";
    font-size: 30px;
    font-weight: bold;
}
